<!DOCTYPE html>
<html ng-app="nytSearch">
	<head>
		<meta charset="utf-8">
		<title>NYT Article Search</title>
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/bootstrap-theme.css"/>
		<link rel="stylesheet" href="css/main.css">
		<link rel="shortcut icon" href="icon.png"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!--Throw some AngularJS magic at it-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
		<!--And hey look, it's firebase-->
		<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
		<!--Then there's me-->
		<script src="js/nytSearch.js"></script>
	</head>

	<body ng-controller='SearchController'>

		<!--header-->
		<div class="well container">
			<div class="daicon">
				<img src="icon.png" alt="New York Times" class="img-circle">
			</div>

			<!--Search form-->
			<form role="form" name="newQueryForm" ng-submit="search()">
  				<div class="form-group" for="query">
     				<input type="searchterm" class="form-control"
     					ng-model="query.fq">
      				<span type="submit" class="btn"
      					ng-click="search()">Search</span>
  				</div>
			</form>

			<!--
			Advanced Search filter options.
			This still does nothing.
			-->
			<form class="searchFilter"
			ng-controller="ToggleController">
					<span ng-click="toggleMenu()"
					class="advanced btn">Filter Your Results</span>
					<div ng-hide="toggle"
					class="options btn-group-vertical">
						<span ng-click="showDate"
						class="advanced btn">Date Published:</span>
						<span ng-click="showDesk"
						class="advanced btn">News Desks:</span>
						<span class="advanced btn">Type:</span>
						<span class="advanced btn" id="contains">Contains:</span>
						<input type="text" class="form-control" id="filter">
					</div>
			</form>
		</div>

		<!--Search results-->
		<div class="panel panel-default">
  			<div class="panel-heading">Results:
			<dl>
  				<dt>Ordered By:</dt>
  				<dt>{{orderByField}}</dt>
			</dl>
  			</div>
  			<!-- Table -->
  			<table class="table table-hover">
    			<thead>
      				<tr>
        				<th>
          				<a href="" ng-click="orderByField='Result Number'; reverseSort = !reverseSort">
          				#<span ng-show="orderByField == 'number'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
        				</th>
        				<th>
            			Headline
        				</th>
        				<th ng-show="showDate">
          				Date Published <span ng-show="orderByField == 'Date Published'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
        				</th>
        				<th ng-show="showDesk">
          				<a href="" ng-click="orderByField='News Desk'; reverseSort = !reverseSort">
          				News Desk <span ng-show="orderByField == 'News Desk'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
        				</th>
      				</tr>
    			</thead>
    			<tbody>
      				<tr ng-repeat-start="result in results.response.docs|orderBy:orderByField:reverseSort">
        			<td>{{$index + 1}}</td>
        			<td><a ng-href="{{result.web_url}}">{{result.headline.main}}</a></td>
        			<td ng-show="showDate">{{result.pub_date}}</td>
        			<td ng-show="showDesk">{{result.news_desk}}</td>
      				</tr>
      				<tr ng-repeat-end>
      					<td></td>
      					<td>{{result.lead_paragraph}}</td>
      					<td></td>
      					<td></td>
      				</tr>
    			</tbody>
  			</table>
		</div>
	</body>
</html>