<!DOCTYPE html>
<html ng-app="nytSearch">

	<head>
		<meta charset="utf-8">
		<title>NYT Article Search</title>
		<link rel="stylesheet" href="css/bootstrap.css"/>
		<link rel="stylesheet" href="css/bootstrap-theme.css"/>
		<link rel="stylesheet" href="css/main.css">
		<link rel="shortcut icon" href="icon.png"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>

	<body ng-controller='SearchController'>
		<!--header-->
		<div class="well container">
			<div class="daicon">
				<img src="icon.png" alt="New York Times" class="img-circle">
			</div>
			<!--Login and saved articles controller-->
			<div class="login"
			ng-controller="LoginController">
				<ul class="dropdown-menu pull-right" role="menu" ng-switch="user">
    				<span ng-switch-when="true">
      					<li>
      						<a ng-click="logout()">Logout</a>
      					</li>
      					<li>
      						<a ng-click="preferences()">Preferences</a>
      					</li>
    				</span>
    				<span ng-switch-default>
      					<li>
      						<a ng-click="openLoginDialog()">Login</a>
      					</li>
    				</span>
  				</ul>
			</div>
			<!--Search form-->
			<form role="form" name="newQueryForm" ng-submit="search()">
  				<div class="form-group" for="query">
     				<input type="searchterm" class="form-control"
     					ng-model="query.fq">
      				<span type="submit" class="btn"
      					ng-click="search()">Search</span>
  				</div>
			</form>

			<!--
			Advanced Search filter options.
			This still does nothing.
			-->
			<form class="searchFilter"
			ng-controller="ToggleController">
					<span ng-click="menuToggle = !menuToggle"
					class="advanced btn">Filter Your Results</span>
					<div ng-show="menuToggle"
					class="options btn-group-vertical">
						<span ng-click="dateToggle = !dateToggle"
						class="advanced btn">Date Published:</span>
							<div ng-show="dateToggle"
							class="datePicker">
								
							</div>
						<span ng-click="deskToggle = !deskToggle"
						class="advanced btn">News Desks:</span>
							<div ng-show="deskToggle"
							class="deskList">
								
							</div>
						<span ng-click="typeToggle = !typeToggle"
						class="advanced btn">Type:</span>
							<div ng-show="typeToggle"
							class="typeList">
								
							</div>
						<span ng-click="contentToggle = !contentToggle"
						class="advanced btn" id="contains">Contains:</span>
						<input ng-show="contentToggle" type="text" class="form-control" id="filter">
					</div>
			</form>
		</div>

		<!--Search results-->
		<div class="panel panel-default">
  			<div class="panel-heading">Results:
			<dl>
  				<dt>Ordered By:</dt>
  				<dt>{{orderByField}}</dt>
			</dl>
  			</div>
  			<!-- Table -->
  			<table class="table table-hover">
    			<thead ng-controller="ToggleController">
      				<tr>
        				<th>
          					<a href="" ng-click="orderByField = 'Result Number'; reverseSort = !reverseSort">
          					#
          						<span ng-show="orderByField == 'number'">
          							<span ng-show="!reverseSort">^</span>
          							<span ng-show="reverseSort">v</span>
          						</span>
          					</a>
        				</th>
        				<th>
            			Headline
        				</th>
        				<th ng-show="dateToggle">
        					<a href="" ng-click="orderByField = 'Date Published'; reverseSort = !reverseSort">
          					Date Published
          						<span ng-show="orderByField == 'Date Published'">
          							<span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
        				</th>
        				<th ng-show="deskToggle">
          					<a href="" ng-click="orderByField='News Desk'; reverseSort = !reverseSort">
          					News Desk
          						<span ng-show="orderByField == 'News Desk'">
          							<span ng-show="!reverseSort">^</span>
          							<span ng-show="reverseSort">v</span>
          						</span>
          					</a>
        				</th>
        				<th ng-show="typeToggle">
        					<a href="" ng-click="orderByField = 'Type'; reverseSort = !reverseSort">
        					Type
        						<span ng-show="orderByField == 'Type'">
        							<span ng-show="!reverseSort">^</span>
        							<span ng-show="reverseSort">v</span>
        						</span>
        					</a>
        				</th>
      				</tr>
    			</thead>
    			<tbody>
      				<tr ng-repeat-start="result in results.response.docs|orderBy:orderByField:reverseSort">
        			<td>{{$index + 1}}</td>
        			<td><a ng-href="{{result.web_url}}">{{result.headline.main}}</a></td>
        			<td ng-show="dateToggle">{{result.pub_date}}</td>
        			<td ng-show="deskToggle">{{result.news_desk}}</td>
        			<td ng-show="typeToggle">{{result.type}}</td>
      				</tr>
      				<tr ng-repeat-end>
      					<td></td>
      					<td>{{result.lead_paragraph}}</td>
      					<td></td>
      					<td></td>
      				</tr>
    			</tbody>
  			</table>
		</div>
		<!--Throw some AngularJS magic at it-->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
		<!--And hey look, it's firebase-->
		<script src="//cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
		<script src="//cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
		<!--Then there's me-->
		<script src="js/nytSearch.js"></script>
	</body>
</html>